#grid-layout {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--light-gray);
    grid-template-columns: 0.2fr 1.3fr 1.5fr;
    grid-template-rows: 0.1fr 0.4fr 1fr 1.4fr 2.2fr 0.5fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "aside . ."
        "aside search search"
        "aside yorSales yorSales"
        "aside boxRow boxRow"
        "aside funnel orders"
        "aside transactions transactions"

}

#search {
    margin-left: 20px;
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: search;
}

#yorSales {
    font-family: monospace;
    padding-left: 40px;
    font-size: var(--text-2x1);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: yorSales;
}


#boxRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "payout revenue sessions"
        "payout revenue sessions"
        "payout revenue sessions";
    grid-area: boxRow;
}

#payout {
    margin: 0 5px 5px 20px;
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: payout;
}

#revenue {
    margin: 0 5px 5px 5px;
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: revenue;
}

#sessions {
    margin: 0 20px 5px 5px;
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: sessions;
}

#aside {
    height: 100%;
    padding: 5px;
    background-color: var(--gray);
    text-align: center;
    grid-area: aside;
}

#funnel {
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: funnel;
    margin: 5px 5px 5px 20px;
}

#orders {
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: orders;
    margin: 5px 20px 5px 5px;
}

#transactions {
    margin: 5px 20px 5px 20px;
    background-color: var(--gray);
    border: var(--light-gray);
    border-radius: 25px;
    grid-area: transactions;
}

#logo {
    margin: 10px;
}

#colored {
    background-color: black;
}

.fotoPerfil {
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}

.icons {
    padding: 12px;
    background-color: var(--light-gray);
    border: var(--darker-gray);
    border-radius: 25px;
    text-align: center;
    margin: 10px 5px 10px 10px;

}

.icons:active {
    transform: scale(0.9);

}

#topButtons {
    margin: 30px 10px;
}

#middleButtons {
    margin: 30px 10px;
}

#bottomButtons {
    margin: 150px 10px;

}

/* #searchIcon {
    padding: 10px;
    margin: 0;
    background-color: var(--gray);
    border: var(--darker-gray);
    border-radius: 25px;
} */

#notifications {
    position: absolute;
    top: 20px;
    right: 80px;
}

:root {
    --light-gray: #f7f7f7;
    --gray: #e2e2e2;
    --dark-gray: #888888;
    --darker-gray: #666666;
    --main-green: #5ee85b;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 18px;
    --text-xl: 40px;
    --text-2x1: 64px;
}

.pill-text {
    background-color: var(--light-gray);
    border: solid 1px var(--gray);
    color: var(--dark-gray);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-family: monospace;

}